# https://github.com/buildkite/agent/blob/main/packaging/github/linux/buildkite-agent.cfg
name="nchlswhttkr-%spawn"
build-path="$HOME/.buildkite-agent/builds"
hooks-path="$HOME/.buildkite-agent/hooks"
plugins-path="$HOME/.buildkite-agent/plugins"
tags="queue=nchlswhttkr"
spawn="1"
